.hidden {
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;


}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

.header-section {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-cl,
.header-address {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.logo-web-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #2e2f42;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;

}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .menu-cl {
        display: flex;
        align-items: center;
        gap: 40px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-address {
        font-style: normal;
        display: block;
    }

    .header-navigation {
        display: flex;
        align-items: center;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
        display: block;
    }

    .menu-items-cl {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-list-items.current {
        position: relative;
        color: #404bbf;
    }

    .header-list-items {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    }

    .header-list-items.current::after {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .header-list-items:hover,
    .header-list-items:focus {
        color: #404bbf;

    }

    .current {
        color: #404BBF;
    }

    .header-address-list {
        gap: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .info {
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        display: flex;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-size: 12px;
    }

    .info:hover,
    .info:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .header-address-list {
        gap: 40px;
        flex-direction: row;
        align-items: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .info {
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-size: 16px;
        padding: 24px 0 24px;
        font-size: 16px;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

.first-section {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: 432px;
    margin: 0 auto;
    padding: 72px;
    justify-content: center;
}

.title-first-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 216px;
    display: block;
    margin: auto;
}

.button {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 72px;

}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .first-section {
        padding: 112px 0 112px;
    }
    .title-first-section{
        max-width: 496px;
        font-size: 56px;
    }
    .button{
        margin-top: 36px;
    }
}
@media screen and (min-width: 1158px){
    .button{
        margin-top: 48px;
    }
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.second-section {
    padding: 96px 0 96px 0;
}
.adv-list{
    display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 72px;
}
.div-icon-second{
    display:none;
}
.list-item-second{
    margin-bottom: 8px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.list-item-second-paragraph{
width: 288px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
@media screen and (min-width: 768px) {
    .adv-list{
        flex-flow: row wrap;
        gap: 72px 24px;
    }
    .adv-list-item{
        width: calc((100% - 24px) / 2);
    }
.list-item-second{
    text-align: left;
    margin-top: 8px;
    }
.list-item-second-paragraph{
    width: 356px;
}
}
@media screen and (min-width: 1158px) {
.second-section {
        padding: 120px 0;
    }

                .adv-list-item {
                    width: calc((100% - 72px) / 2);
                }
.div-icon-second {
    display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;

}
.adv-list {
    display: flex;
    gap: 24px;
}
.list-item-second-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.list-item-second {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
h2 {
    font-weight: 700;
}

}
